<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css">
    <title>SFM Home</title>
</head>

<body id="body">
    <div class="wrap">

        <div class="logo">
            <h2 class="text">Share Files Messenger</h2>
        </div>
        <!-- <h1 id="login"><a href="/users/login">Login</a></h1> -->
        <form action="/users/login" method="POST">
            <div>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div>
                <input type="submit" id="login" value="Login">
            </div>
            <br>
            <a id="reg" href="/users/register">Are you registered?</a>
        </form>
    </div>
</body>

<script src="jquery-1.11.0.js"></script>
<script src="effects.js"></script>

</html>