<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css">
    <title>SFM Home</title>
</head>

<body id="body">
    <div class="wrap">

        <div class="logo">
            <h2 class="text">Share Files Messenger</h2>
        </div>
        <a href="/users/login">Login</a>
        <!-- <div class="form">
            <form action="/" method="POST">

                <ul class="list">
                    <li>
                        <input type="text" name="nickname" id="name" autocomplete="false" placeholder="nickname" autocomplete="false" />
                    </li>
                    <li><button type="submit" class="btn">GO</button></li>
                </ul>
            </form>
        </div>
        <div class="stats">
            X: <input type="text" id="sx" /> Y: <input type="text" id="sy" />
        </div> -->
    </div>
</body>
<script src="jquery-1.11.0.js"></script>
<script src="effects.js"></script>
<!-- <script src="position.js"></script> -->

</html>