* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( to bottom, #394848, #2c393a, #2d4344, #131a1a);
    /* display: flex; */
}

.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.logo {
    margin-bottom: 30px;
    padding: 0;
    width: 500px;
    height: 120px;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}

h2 {
    display: block;
    font-size: 2.5em;
    padding: 0;
    margin-top: 50px;
    width: auto;
    text-shadow: 1px -1px 5px #d8e3e5;
    font-weight: bold;
    color: #26272a;
    /* border: 1px solid red; */
}

.messages {
    justify-content: center;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: large;
    background-color: red;
    border-radius: 3px;
    clear: both;
}

.form {
    margin-top: 30px;
    margin-left: 10px;
    display: block;
    max-width: 350px;
    width: 350px;
    height: 300px;
    text-align: center;
    /* border: 2px solid red; */
    position: relative;
}

#login:hover {
    color: red;
}

#reg {
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
}

#reg:hover {
    color: red;
}

#log {
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
}

#log:hover {
    color: red;
}

input {
    position: relative;
    top: 30px;
    border: none;
    padding: 8px;
    line-height: 1.21em;
    margin-bottom: 1.4em;
    font-size: 1.5em;
    border-radius: 5px;
}

.stats {
    visibility: hidden;
}